# data files
data/
*.csv
*.parquet

# python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# environment
.env
.venv   
venv/

# logs
logs/

# mac
.DS_Store

# data (keep folder structure, ignore files)
data/**
!data/**/.keep