# =========================
# Data files
# =========================
data/
*.csv
*.parquet

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.venv